<div class="home_page">
    <div class="section_one">
        <div class="home_txt_container">
            <div class="league_photo"></div>
            <div class="home_title">
                <h2>My Starting Five</h2>
            </div>
            <div class="home_txt">
                <h4>
                    Create your own starting lineup or mix and match
                    starting lineups from your favorite team's most recent
                    2017-2018 NBA rosters. Add or delete new players and
                    even put yourself in the starting five!
                </h4>
            </div>
            <div class="home_link">
                <%= link_to 'ALL LINEUPS', index_path %>
            </div>
        </div>
    </div>
    <div class="section_two"></div>
</div>