@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Condensed|PT+Sans|Raleway');


body {
    margin: 0 auto;
    /* background: #E0E0E0;  */
     background: rgba(0, 0, 0, 0.1); 
    font-family: 'PT Sans', sans-serif;
}

.index {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rotation {
    display: flex;
    justify-content: space-around;
    width: 96%;
    padding: 2%;
    background: #F5F5F5;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 
    0 1px 18px 0 rgba(0, 0, 0, .12), 
    0 3px 5px -1px rgba(0, 0, 0, .2);
    flex-wrap: wrap;
}

.team {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    max-width: 11%;
    text-align: center;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 
    0 3px 14px 2px rgba(0, 0, 0, .12), 
    0 5px 5px -3px rgba(0, 0, 0, .2);
    background: white;
}

.team img {
    height: 60%;
    width: 60%;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
}

.links {
    flex-direction: column;
    height: 50%;
    justify-content: space-around;
    align-items: center;
    display: none;
}


.player-container:hover > .links {
    display: flex;
    width: 25%;
}

.player-container {
    border-radius: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16%;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 
    0 3px 14px 2px rgba(0, 0, 0, .12), 
    0 5px 5px -3px rgba(0, 0, 0, .2);
    transition: 0.5s ease-in-out;
    flex: 1;
    margin: 10px;
    color:rgba(0, 0, 0, .8);
    background: #FAFAFA; 
    padding: 5px;
    transition: 0.5s ease-in-out;
    letter-spacing: .4px;
}

.player-container:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 
    0 15px 12px rgba(0,0,0,0.22);
    background: tomato;
    color: whitesmoke;
    flex: 2;
}

.player-container img {
    height: 80%;
    width: 80%;
    margin-left: 10%;
}

.name {
    font-size: 14pt;
}



/* Single Player */

.single_player_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.player_card {
    width: 60%;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FAFAFA;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 
    0 3px 14px 2px rgba(0, 0, 0, .12), 
    0 5px 5px -3px rgba(0, 0, 0, .2);
}

.player_pic .player_headshot {
    height: 75%;
    width: 105%;
    background: rgba(0, 0, 0, .08);
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 
    0 3px 14px 2px rgba(0, 0, 0, .12), 
    0 5px 5px -3px rgba(0, 0, 0, .2);
}

.player_pic {
    width: 36%;
    background: white;
    color: #303030;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.player_info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: white;
    color: #044F67;
    width: 40%;
    height: 90%;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 
    0 3px 14px 2px rgba(0, 0, 0, .12), 
    0 5px 5px -3px rgba(0, 0, 0, .2);
}


.team_logo {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:10%;
    
}

.team_logo > img {
    box-shadow: none;
    height: 120%;
    width: 120%;
}

.edit-form {
    width: 80%;
    font-family: 'Raleway', sans-serif;
}

.edit-form div {   
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
    color: white;
}

.edit-form input {
    width: 70%;
    margin: 4px;
    padding: 2px;
    font-size: 12pt;
    border: none;
    border-bottom: 2px solid lightblue;
    background: #044F67;
    color: white;
}

.edit-form input[type="submit"],
.player_info a {
    background: #1F4788;
    border: 2px solid lightblue;
    color: white;
    padding: 2px;
    text-decoration: none;
    box-shadow: 0 8px 10px 1px rgba(0, 0, 0, .14), 
    0 3px 14px 2px rgba(0, 0, 0, .12), 
    0 5px 5px -3px rgba(0, 0, 0, .2);
}